/* src/app/styles/article-categorie.css */

/* === DARK MODE === */

[data-theme="dark"] .article-category {
  color: var(--backgroundLight);
  border-color: var(--backgroundLight);
}

/* === MOBILE FIRST === */

.article-category {
  font-family: 'BodonyModaMediumItalic', serif;
  display: inline-block;
  font-size: clamp(1rem, 0.9199rem + 0.3419vw, 1.125rem);
  letter-spacing: 0.08em;
  color: var(--lightText);
  text-transform: lowercase;
  margin: 32px 0 24px 0;
  
  /* Animation d'entrée */
  opacity: 0;
  transform: translateY(10px);
  animation: fadeSlideIn 0.6s ease forwards;
  border-bottom: 1px solid var(--lightText);
}

.recipes-section .article-category {
  margin: 0;
}

/* === RESPONSIVE === */

/* Tablette */
@media (min-width: 640px) {
  .article-category {
    margin: 40px 0 24px 0;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .article-category {
    margin: 48px 0 32px 0;
  }

}

/* === ANIMATIONS === */

/* Animation d'apparition */
@keyframes fadeSlideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

