/* src/app/styles/article-categorie.css */

/* 
  === DARK MODE === 
*/

[data-theme="dark"] {

  .article-category {
    color: var(--background-light);
    border-color: var(--background-light);
  }

}
  
/* 
  === MOBILE FIRST === 
*/

.article-category {
  font-family: 'BodonyModaMediumItalic', serif;
  display: inline-block;
  font-size: clamp(1rem, 0.9199rem + 0.3419vw, 1.125rem);
  letter-spacing: 0.08em;
  color: var(--text-color--light-mode--faded);
  text-transform: lowercase;
  margin: var(--margin-m) 0 var(--margin-s) 0;
  
  /* Animation d'entrée */
  opacity: 0;
  transform: translateY(10px);
  animation: fadeSlideIn 0.6s ease forwards;
  border-bottom: 1px solid var(--text-color--light-mode--faded);
}


.recipes-section .article-category {
  margin: 0; /* Suppression de la marge entourant les catégories dans la section recettes */
}

/* 
  === RESPONSIVE === 
*/

/* Tablette */
@media (min-width: 640px) {
  .article-category {
    margin: var(--margin-l) 0 var(--margin-s) 0;
  }
}



