/* src/app/styles/recipe-meta-badge.css */

/* === DARK MODE === */

[data-theme="dark"] .recipe-meta-badge {
    color: var(--background-light);
}

[data-theme="dark"] .recipe-icon-time--fill,
[data-theme="dark"] .recipe-icon-badge--fill {
  fill: var(--icon-dark);
  stroke: var(--background-light);
}

[data-theme="dark"] .recipe-icon-time--path,
[data-theme="dark"] .recipe-icon-badge--path {
  stroke: var(--background-light);
}

.recipe-icon--meta {
  width: 24px;
  height: 24px;
  fill: none;
  flex-shrink: 0;
}

.recipe-meta-badge {
  margin-top: 16px;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-family: 'hkRegular', sans-serif;
  font-size: 18px;
  color: var(--text-color--light-mode--faded);
  opacity: 0.7;
}



.badge-label {
  line-height: 1;
}

.recipe-icon-time--fill,
.recipe-icon-badge--fill {
  fill: var(--icon-color--light-mode);
  stroke: var(--text-color--light-mode);
  fill-opacity: 0.4;
}

.recipe-icon-time--path,
.recipe-icon-badge--path {
  stroke: var(--text-color--light-mode);
  stroke-opacity: 0.68;
}


/* Tablette et + */
@media (min-width: 640px) {
  .recipe-meta-badge {
    font-size: 18px;
    gap: 7px;
  }
  
  .recipe-icon--meta {
    width: 24px;
    height: 24px;
  }
}