/* src/app/styles/titre-surlignage.css */

/* === DARK MODE === */

[data-theme="dark"] .color-oyster, [data-theme="dark"]  .color-silentWhite {
    background: linear-gradient(to top, hsla(42, 58%, 89%, 0.3) 0%,hsla(42, 58%, 89%, 0.2) 30%, hsla(30, 5%, 15%, 0) 40%);
}


/* Effets de surlignage des titres */

.titre-surlignage {
  display: inline;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  white-space: normal;       /* permet les retours à la ligne naturels */
  word-break: break-word;    /* pour forcer les retours si besoin */
}

.color-oyster {
  background: linear-gradient(to top, hsla(33, 38%, 82%, 0.4) 0%,hsla(33, 38%, 82%, 0.3) 30%, hsla(40, 23%, 92%, 0) 40%);
}

.color-silentWhite {
     background: linear-gradient(to top, #E5E7E4 0%, #E5E7E4 30%, #FAFAFA 40%); 
}

.color-solitude {
    background: linear-gradient(to top, #E8ECF0 0%, #F5F5F5 30%); 
}

.color-frostyMorning {
    background: linear-gradient(to top, #F0E7E7 0%, #F5F5F5 30%); 
}

.color-frostyMorningAlt {
    background: linear-gradient(to top, #F0E7E7 0%, #FAFAFA 30%); 
}